[mysqld]
# default

# skip-host-cache：跳過主機快取，這會讓 MySQL 在每次連接時都重新解析主機名。
skip-host-cache

# skip-name-resolve：跳過名稱解析，這會讓 MySQL 在每次連接時都使用 IP 地址代替主機名。
skip-name-resolve

# datadir：指定 MariaDB 資料庫文件的存放目錄。
datadir = /var/lib/mysql

# socket：指定 MariaDB 的套接字文件的路徑。
# socket = /var/lib/mysql/mysql.sock
socket = /run/mysqld/mysqld.sock

# secure-file-priv：指定 MariaDB 可以訪問的文件目錄。
# secure-file-priv = /var/lib/mysql-files
secure-file-priv=/var/lib/mysql

# user：指定 MariaDB 的運行用戶。
user = mysql

# pid-file：指定 MariaDB 的 PID 文件的路徑。
pid-file = /var/run/mysqld/mysqld.pid

# character set / collation
# character_set_server：指定 MariaDB 的默認字符集。
character_set_server = utf8mb4
# collation_server：指定 MariaDB 的默認排序方式。
# collation_server = utf8mb4_0900_ai_ci
collation-server=utf8mb4_general_ci

# timezone
# default-time-zone：指定 MariaDB 的默認時區。
default-time-zone = UTC

# log_timestamps：指定 MariaDB 在日誌中是否使用時間戳。這個變數在 MariaDB 10.6 中已被棄用。
# log_timestamps = UTC

# Error Log
# log-error：指定 MariaDB 的錯誤日誌的路徑。
log-error = mysql-error.log

# Slow Query Log
# slow_query_log：指定是否啟用慢查詢日誌。
slow_query_log = 1
# slow_query_log_file：指定慢查詢日誌的路徑。
slow_query_log_file = mysql-slow.log
# long_query_time：指定慢查詢的時間閾值。
long_query_time = 1.0
# log_queries_not_using_indexes：指定是否在慢查詢日誌中記錄未使用索引的查詢。
log_queries_not_using_indexes = 0

# General Log
# general_log：指定是否啟用通用日誌。
general_log = 1
# general_log_file：指定通用日誌的路徑。
general_log_file = mysql-general.log

[mysql]
# default-character-set：指定 MySQL 的默認字符集。
default-character-set = utf8mb4

[client]
# default-character-set：指定 MySQL 的默認字符集。
default-character-set = utf8mb4